<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <p>Email: <input type="email" name="email" required /></p>
    <p>Password: <input type="password" name="password" required /></p>
    <p><button type="submit">Login</button></p>
</form>

<p th:if="${loginError}" th:text="${loginError}"></p>
<p th:if="${loginSuccess}" th:text="${loginSuccess}"></p>
<p th:if="${loginRequired}" th:text="${loginRequired}"></p>
<p th:if="${logoutMessage}" th:text="${logoutMessage}"></p>

<p><a th:href="@{/register}">Don't have an account? Register</a></p>
</body>
</html>
